n8n/sync-vault.json
{
  "name": "ContextOS - Sync Obsidian Vault to Supabase",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contextos-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 480],
      "webhookId": "contextos-sync"
    },
    {
      "parameters": {
        "command": "node \"C:\\Users\\SeanRobertJohnson\\Documents\\ContextOS\\src\\sync.js\""
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Run Sync Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 380]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.exitCode }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Sync Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [740, 380]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n');\nconst synced = lines.filter(l => l.startsWith('✓')).length;\nconsole.log(`Vault sync complete: ${synced} records upserted`);\nconsole.log(stdout);\nreturn [{ json: { success: true, synced, output: stdout } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 280]
    },
    {
      "parameters": {
        "jsCode": "const stderr = $input.first().json.stderr || '';\nconst stdout = $input.first().json.stdout || '';\nconsole.error('Vault sync failed');\nconsole.error(stderr || stdout);\nreturn [{ json: { success: false, error: stderr || stdout } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 480]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [{ "node": "Run Sync Script", "type": "main", "index": 0 }]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [{ "node": "Run Sync Script", "type": "main", "index": 0 }]
      ]
    },
    "Run Sync Script": {
      "main": [
        [{ "node": "Sync Succeeded?", "type": "main", "index": 0 }]
      ]
    },
    "Sync Succeeded?": {
      "main": [
        [{ "node": "Log Success", "type": "main", "index": 0 }],
        [{ "node": "Log Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "notes": "Triggers: (1) schedule every 5 min, (2) POST webhook at /webhook/contextos-sync for real-time file-watcher integration. Requires n8n to run on the same machine as the vault, or adjust the command path accordingly."
  }
}
